/*classe utilitaria, conceito quando tenho uma class
q vai fazer só uma coisa. A ideia é usar ela tanto no css e no html*/

.grid {
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column; /*flox significa é o fluxo*/
}

.grid-cols-2{
  grid-template-columns: 1fr 1fr;
}

.gap-16{
  gap: 16px;
}

.gap-32{
  gap: 32px;
}

.text-2xl{
  font: var(--h1);
}

.text-xl{
  font:  var(--h2);
}

.text-lg{
  font:  var(--h3);
}

.text-paragrah{
  font:  var(--paragrah);
}

